POSTGRES_PASSWORD=replace-with-a-random-database-password
ADMIN_TOKEN=replace-with-at-least-32-random-bytes
CONSUMPTION_TOKEN=use-a-different-random-value-for-verifiers
SIGNING_PRIVATE_KEY=replace-with-a-base64url-ed25519-seed
TOKEN_ISSUER=http://upsilonauth:8080
UPSILON_ENV=development
UPSILON_PORT=8080
MIGRATION_MODE=apply
